/* Cursos, Editais e Ecossistemas - Container principal */
.oportunidades-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}

/* Blocos principais (amarelo, verde, azul) */
.oportunidades,
.editais,
.ecossistemas {
  width: 311px;
  min-height: 389px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.oportunidades {
  background-color: #FAB518;
}
.editais {
  background-color: #009038;
}
.ecossistemas {
  background-color: #0082c4;
}

/* Título interno (Cursos, Editais, Ecossistemas) */
.titulo-cursos {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 10px;
  margin-bottom: 10px;
}

/* Grupos internos */
.cursos,
.lista-editais,
.lista-eco {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Caixas internas */
.curso,
.edital,
.ecossistema {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #fff;
  border-radius: 12px;
  padding: 10px 15px;
  transition: 0.3s ease;
}

/* Hover nas caixas internas */
.curso:hover,
.edital:hover,
.ecossistema:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Ícones */
.curso img,
.edital img,
.ecossistema img {
  width: 40px;
  height: 40px;
}

/* Textos */
.curso p {
  color: #FAB518;
  font-size: 16px;
  font-weight: 600;
}
.edital p {
  color: #009038;
  font-size: 16px;
  font-weight: 600;
}
.ecossistema p {
  color: #0082c4;
  font-size: 16px;
  font-weight: 600;
}

/* Quebra de linha forçada */
.linha-quebrada {
  display: block;
}

/* Efeito hover */
.curso:hover,
.edital:hover,
.ecossistema:hover{
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
